<div id="delete-quote-modal" class="modal micromodal-slide" aria-hidden="true">
    <div class="modal-background" tabindex="-1" data-micromodal-close>
        <div class="delete-quote-modal-widget" role="dialog" aria-modal="true" aria-labelledby="delete-quote-modal-title">
            <div class="delete-quote-modal-header">
                <h2 class="delete-quote-modal-title">
                    Delete Quote?
                </h2>
                <a href="#" class="modal-close" aria-label="Close modal" data-micromodal-close><s class="modal-close-bar"></s><s class="modal-close-bar"></s></a>
            </div>
            <div class="delete-quote-modal-content" style="margin-bottom:2em;">
                <p>Are you sure you want to delete this post? This action can not be undone</p>
            </div>
            <div class="delete-quote-modal-footer">
                <button type="button" class="button-error pure-button" id="delete-modal-button">Delete Post</button>
                <button type="button" class="pure-button" data-micromodal-close aria-label="Close this dialog window">Cancel</button>
            </div>
        </div>
    </div>
</div>
