<div id="create-post-modal" class="modal micromodal-slide" aria-hidden="true">
  <div class="modal-background" tabindex="-1" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="create-post-modal-title" >
      <header>
        <h2 id="create-post-modal-title">
          Create Post
        </h2>
        <button class="pure-button" aria-label="Close modal" data-micromodal-close>Close</button>
      </header>
      <div id="create-post-modal-content">
        <form class="pure-from ">
          <fieldset class="pure-group">
            <textarea class="pure-input" placeholder="Quote" id="quote"></textarea>
            <input class="pure-input" placeholder="Quote Attribution" id="quote_author"/>
          </fieldset>
          <textarea class="pure-input" placeholder="Quote Context" id="context"></textarea>
          <fieldset>
            
          </fieldset>
          <button type="submit" class="pure-button">Post Quote</button>
        </form>
      </div>
    </div>
  </div>
</div>
