{% if user is defined and user is not none%}
  <div id="create-post-modal" class="modal micromodal-slide" aria-hidden="true">
    <div class="modal-background" tabindex="-1" >
      <div class="create-post-modal-widget" role="dialog" aria-modal="true" aria-labelledby="create-post-modal-title" >
        <div class="create-post-modal-header">
          <h2 class="create-post-modal-title">
            <span class="create-post-modal-title-text">Create Post</span> 
            <a href="#" class="create-post-modal-close" data-micromodal-close><i class="fa-solid fa-xmark"></i></a>
          </h2>
          <hr>
        </div>
        <div id="create-post-modal-content" class="create-post-modal-content">
          <form class="pure-form pure-form-stacked" id="quote-post-form" action="/new_post" method="POST">
            <label for="quote">Quote</label>
            <textarea class="pure-input" placeholder="Share a quote" id="form-quote" name="quote" minlength="5" maxlength="500" required rows="5" cols="28"></textarea>
            <label for="quote_author">Quote Attribution</label>
            <textarea class="pure-input" placeholder="Who said or wrote your quote?" id="form-quote-author" name="quote_author" minlength="1" maxlength="250" rows="1" cols="28"></textarea>
            <label for="context">Quote Context</label>
            <textarea class="pure-input" placeholder="Share more info about the quote" id="form-context" name="context" minlength="5" maxlength="1000" rows="3" cols="28"></textarea>
            <label for="tags">Tags</label>
            <div class="tags">
              {% for tag in ['Movies','Inspirational','Funny','Anime','SciFi','Books','TV','Videogame','Superhero','Historical','Athlete','Philosophy','Educational','Sad','Epic','Romantic','Family','Music','Famous','Politics','Artist', 'Iconic'] %} 
                {% include "modules/category.html" %} 
              {% endfor %}
            </div>
            <input type="hidden" name="quote_id" id="form-quote-id" value="">
            <button type="submit" class="pure-button create-post-modal-form-submit">Post Quote</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endif %}
