{% block follower %}
    <div class="follower" id="Follower-ID-{{ user_id }}">
        <div class="follower-user-image">
            <img src="{{ user_photo }}" alt="User Image" width="64px" referrerpolicy="no-referrer"/>
        </div>
        <div class="follower-text">
            <a href="{{ link }}">{{ username }}</a>
            <div class="follower-name">
                <span> {{ firstname }} </span>
                <span> {{ lastname }} </span>
            </div>
        </div>
        <div class="follower-follow-button">
            {% if following %}
                <button class="pure-button follow-button" id="follow-button" data-user-id="{{ user_id }}">Unfollow</button>
            {% else %}
                <button class="pure-button follow-button" id="follow-button" data-user-id="{{ user_id }}">Follow</button>
            {% endif %}
        </div>
    </div>
{% endblock %}
