{% block follower %}
    <div class="follower">
        <div class="follower-user-image">
            <img src="/static/images/user.png" alt="User Image" width="64px"/>
        </div>
        <div class="follower-user-name">
            <a href="#">{{ quote_user }}</a>
        </div>
        <div class="follower-follow-button">
            {% if following %}
                <button class="pure-button follow-button">Unfollow</button>
            {% else %}
                <button class="pure-button unfollow-button">Follow</button>
            {% endif %}
        </div>
    </div>
{% endblock %}