{% block profileSideBar %}
    <!-- https://codepen.io/swastikyadav/pen/zYZPyrN?editors=1100 -->
    <input type="checkbox" id="toggler" class="toggler" />
    <aside class="sidebar"> 
        <div class="profile-user-name">
            {{ user_name }}
        </div>
        <label for="toggler">
            <i class="fas fa-solid fa-user sidebar-toggle"></i>
        </label>
        
        <div class="profile-user-image">
            <img src="{{ user_profile_pic }}" alt="User Image" width="64px" referrerpolicy="no-referrer" />
        </div>
        <div class="profile-user-quote-count">
            <div class="profile-info"> {{ user_quote_count }} </div>
            <div> Quotes </div>
        </div>
        <div class="profile-user-follower-count">
            <div class="profile-info"> {{ user_follower_count }} </div>
            <div> Followers </div>
        </div>
        {% if not no_buttons %}
            <div class="sidebar-buttons">
                <a href="/followers" class="pure-button followers-button">Followers</a>
                <a href="/following" class="pure-button following-button">Following</a>
                <a href="/logout" class="pure-button logout-button">Logout</a>
            </div>
        {% endif %}
    </aside>   
{% endblock %}
