.create-post-modal-widget {
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
    min-width: 35%;

    width: 100%;
    height: 100%;
}

.create-post-modal-header {
    position: relative;
    height: 1.25em;
}

.create-post-modal-close {
    width: 34px;
    font-size: 2em;
    height: 34px;
    position: absolute;
    top: -.75em;
    right: 0em;
    opacity: 0.75;
}

.create-post-modal-close:hover {
    opacity: 1;
}

textarea{
    resize: none;
    width: 100%;
}

.create-post-modal-content{
    position: relative;
    margin-top: 40px;
    width: 100%;
}

.tags{
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

.category{
    margin: 6px;
}

.category label{
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
    margin: 1px !important;

    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.75);

    height: min-content;
    width: min-content;
}

.category input{
    display: none;
}

.category-check:checked ~ .category{
    background-color:rgb(163, 214, 163);
    box-shadow: 3px 1px 5px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid grey;
    color: gray;
}

.create-post-modal-form-submit{
    background-color: var(--color-secondary);
    border-radius: 8px;
    font-size: 1.3em;
}

@media screen and (min-width: 768px) {
    .create-post-modal-widget {
        max-width: 600px;
        max-height: 70vh;
    }
}
