.quote {
    background-color: #e9e9e9;
    border-radius: 10px;
    padding: 0.75em 1em;
    position: relative;
}

.quote-user-name-content {
    max-width: 7em;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--color-tertiary);
    margin-left: 5px;
    overflow-wrap: break-word;
}

.quote-user-name-content:hover {
    text-decoration: underline;
}

.quote-user {
    float: none;
    justify-content: right;
    padding: 0.25em;
}

.quote-user-image {
    margin-left: 0.5em;
    width: 64px;
    height: 64px;
}

.quote-user-image > img {
    border-radius: 8px;
}

.quote-content-text-quote {
    font-size: 1.25em;
    text-indent: 3em;
    padding-top: 0.25em;
    overflow-wrap: break-word;
}

.quote-content-img {
    position: relative;
}

.quote-content-img > svg {
    opacity: 0.25;
    position: absolute;
    top: -1.25em;
    left: -0.5em;
    fill: var(--color-secondary);
    pointer-events: none;
}

.quote-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quote-footer-buttons-like-group {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    padding: 0.5em 0.75em;
    padding-left: 0;
    margin-right: 0.5em;
}

.quote-footer-buttons-like {
    background-color: transparent;
}

.quote-footer-buttons-like:hover {
    background-image: none;
    color: var(--color-accent);
}

.quote-footer-buttons-like:active,
.quote-footer-buttons-like:focus {
    background-image: none;
    color: var(--color-accent);
}

.quote-footer-buttons-like-count-wrapper {
    display: flex;
    align-items: center;
}

.quote-footer-buttons-add-icon,
.quote-footer-buttons-follow-icon {
    display: inline-block;
}

.quote-footer-buttons-like-count.spin,
.quote-footer-buttons-add-icon.spin,
.quote-footer-buttons-follow-icon.spin {
    animation: spin 1s linear infinite;
}

.quote-footer-buttons-add,
.quote-footer-buttons-follow {
    background-color: var(--color-tertiary);
    color: #fff;
    border: 2px solid var(--color-tertiary);
    border-radius: 8px;
}

.quote-footer-buttons-add:hover,
.quote-footer-buttons-follow:hover {
    background-color: #fff;
    color: var(--color-tertiary);
    border-radius: 8px;
}

.more-info-button {
    background-color: #fff;
    border: 2px solid var(--color-secondary);
    border-radius: 8px;
    padding: 0.5em 0.75em;
}

.quote-footer-buttons-dropdown-container {
    position: relative;
    display: flex;
}

.quote-footer-buttons-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 0.75em 1em;
    z-index: 10;
    border-radius: 4px;
    top: 2em;
    left: 2em;
}

.quote-footer-buttons-dropdown-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1em;
}

.dropdown-button {
    background-color: transparent;
    text-align: right;
    border-bottom: 1px solid var(--color-secondary);
}

.dropdown-button:hover {
    background-image: none;
    background-color: rgba(var(--color-accent-values), 0.5);
}

.quote-pin-handle-thumbtack {
    position: absolute;
    top: -1em;
    left: 0.5em;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
    .quote-user {
        float: right;
        justify-content: unset;
    }

    .quote-content-text-quote { 
        padding-top: 1em;
    }
}
