:root {
    --color-primary: #bda0d1;
    --color-secondary: #17b890;
    --color-tertiary: #343a1a;
    --color-accent: #7f2982;
    --color-error: #ec5858;
}

.main-content {
    width: 70%;
    margin: 0 auto;
}

.navigation {
    background-color: var(--color-primary);
}

.navigation-wrapper {
    height: 5.15em;
    overflow: hidden;
    transition: height 0.5s;
}

.navigation-wrapper.open {
    height: 25em;
}

.navigation-custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 1.4em;
    right: 2em;
    display: none;
}

.navigation-custom-toggle .navigation-bar {
    background-color: #fff;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation-custom-toggle .navigation-bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.navigation-custom-toggle.x .navigation-bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navigation-custom-toggle.x .navigation-bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navigation-logo {
    float: right;
}

.navigation-links {
    padding-left: 0.75em;
    height: 100%;
}

.pure-menu-list, .pure-menu-item {
    height: 100%;
}

.pure-menu-link {
    color: white;
    font-weight: bold;
    padding: 2em 1em;
}

.pure-menu-link:hover {
    background-color: var(--color-secondary);
}

.navigation-login, .navigation-create-post{
    position: relative;
}

.navigation-login-button-div, .navigation-create-post-button-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navigation-login-button, .navigation-create-post-button {
    border-radius: 8px;
    padding: 0.8em 1.4em;
}

.navigation-create-post-button {
    background-color: var(--color-secondary);
}

.footer {
    margin-top: 2em;
    background-color: var(--color-primary);
}

.footer-content {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (max-width: 47.999em) {
    .main-content {
        width: 90%;
    }

    .navigation-custom-toggle {
        display: block;
    }

    .navigation-logo {
        float: none;
    }

    .pure-menu-list, .pure-menu-item {
        height: auto;
    }

    .navigation-login,.navigation-create-post {
        margin-top: 2em;
        margin-bottom: 2.5em;
        margin-left: 1em;
    }

    .navigation-login-button,.navigation-create-post-button {
        width: 35%;
    }
}
