{% extends "layouts/layout.html" %}
{% import "macros/set_quote_variables.html" as set_quote_vars %}
{% block title %}Explore{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/explore.css">
{% endblock %}
{% block content %}
    {% include "modules/quote_modal.html" %}
    <form class="search-form pure-form" action="/explore" method="post">
        <fieldset>
            <legend>Search</legend>
            <input type="text" name="search" placeholder="Search for a quote">
            <button type="submit" class="pure-button pure-button-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
        </fieldset>
    </form>
    {% if results is not none %}
        {% for result in results %}
            {% with 
                quote_id=result.post_id,
                quote_user=result.username,
                quote_text=result.quote,
                quote_author=result.quote_author,
                quote_context=result.context,
                date_posted=result.creation_time.split("T")[0],
                num_likes=result.num_likes,
                quote_added=result.is_following,
                user_id=result.user_id,
                user_pic=result.profile_image,
                custom_width=true
                %}
            {% include "modules/quote.html" %}
            {% endwith %}
        {% endfor %}
    {% endif %}
{% endblock %}
