{% extends "layouts/layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/javascript/display_quote_grid.js"></script>
{% endblock %}
{% block content %}
    {% include "modules/quote_modal.html" %}
    <h2>Most Liked Quote</h2>
    {% if qod and qod is defined %}
        {% with 
            quote_id=qod[0].post_id,
            quote_user=qod[0].username,
            quote_text=qod[0].quote,
            quote_author=qod[0].quote_author,
            quote_context=qod[0].context,
            date_posted=qod[0].creation_time.split("T")[0],
            num_likes=qod[0].num_likes,
            quote_added=qod[0].quote_added,
            user_id=qod[0].user_id,
            user_pic=qod[0].profile_image,
            following_user=qod[0].following_user
            %}
            {% include "modules/quote.html" %}
        {% endwith %}
    {% endif %}
    <h2>Your Homepage</h2>
    <div class="popular-posts">
        {% if posts is defined and qod and qod is defined %}
            {% for post in posts %}
                {% if post.post_id != qod[0].post_id %}
                    {% with 
                        quote_id=post.post_id,
                        quote_user=post.username,
                        quote_text=post.quote,
                        quote_author=post.quote_author,
                        quote_context=post.context,
                        date_posted=post.creation_time.split("T")[0],
                        num_likes=post.num_likes,
                        quote_added=post.quote_added,
                        user_id=post.user_id,
                        user_pic=post.profile_image,
                        following_user=post.following_user,
                        custom_width=true
                        %}
                        {% include "modules/quote.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="pagination">
        {% if page > 1 %}
            <a href="/?page={{page-1}}" class="pure-button pagination-prev-button">Previous Page</a>
        {% endif %}
        {% if page < num_pages %}
            <a href="/?page={{page+1}}" class="pure-button pagination-next-button">Next Page</a>
        {% endif %}
    </div>
{% endblock %}
